@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
	--clr-dark: #3c3a49;
	--clr--light: #faf7ff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg-dark {
	background-color: var(--clr-dark);
	color: var(--clr--light);
}

.bg-light {
	background-color: var(--clr--light);
	color: var(--clr-dark);
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	font-size: 18px;
}

section {
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

section h1 {
	font-size: 3rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.logos {
	display: flex;
	gap: 3rem;
	font-size: 4rem;
}

.logo {
	background-color: #3c3a49;
	padding: 1rem;
	border-radius: 16px;
	box-shadow: 36px 41px 59px -17px rgba(0,0,0,0.39);
}

.hidden {
	filter: blur(5px);
	translate: 0 250%;
	opacity: 0;
	transition: translate 1s, blur 1s, opacity 1s;
}

.show {
	translate: 0;
	filter: blur(0);
	opacity: 1;
}